version: '3.8'

services:
    redis:
        image: redis
        container_name: redis
        ports:
            - '6379:6379'
        networks:
            - pet-finder-network

    pgadmin:
        image: dpage/pgadmin4
        container_name: pgadmin
        ports:
            - '15432:80'
        environment:
            - PGADMIN_DEFAULT_EMAIL=${PGADMIN_EMAIL}
            - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_PASSWORD}
        depends_on:
            - postgres
        networks:
            - pet-finder-network

    postgres:
        image: postgres
        container_name: postgres
        ports:
            - '5432:5432'
        environment:
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
            - POSTGRES_DB=${POSTGRES_DB}
        networks:
            - pet-finder-network

    rabbitmq:
        image: rabbitmq:management
        container_name: rabbitmq
        ports:
            - '5672:5672'
            - '15672:15672'
    kong:
        container_name: api-gateway
        image: kong:latest
        volumes:
            - ./kong.yml:/usr/local/kong/declarative/kong.yml
        environment:
            - KONG_DATABASE=off
            - KONG_DECLARATIVE_CONFIG=/usr/local/kong/declarative/kong.yml
            - KONG_PROXY_ACCESS_LOG=/dev/stdout
            - KONG_ADMIN_ACCESS_LOG=/dev/stdout
            - KONG_PROXY_ERROR_LOG=/dev/stderr
            - KONG_ADMIN_ERROR_LOG=/dev/stderr
            - KONG_ADMIN_LISTEN=0.0.0.0:8001
            - KONG_ADMIN_GUI_URL=http://localhost:8002
        ports:
            - '8800:8000'
            - '8001:8001'
            - '8002:8002'
        networks:
            - pet-finder-network
    etcd:
        container_name: milvus-etcd
        image: quay.io/coreos/etcd:v3.5.0
        environment:
            - ETCD_AUTO_COMPACTION_MODE=revision
            - ETCD_AUTO_COMPACTION_RETENTION=1000
            - ETCD_QUOTA_BACKEND_BYTES=4294967296
        volumes:
            - ${DOCKER_VOLUME_DIRECTORY:-.}/volumes/etcd:/etcd
        command: etcd -advertise-client-urls=http://127.0.0.1:2379 -listen-client-urls http://0.0.0.0:2379 --data-dir /etcd
        networks:
            - pet-finder-network
    minio:
        container_name: milvus-minio
        image: minio/minio:RELEASE.2020-12-03T00-03-10Z
        environment:
            MINIO_ACCESS_KEY: minioadmin
            MINIO_SECRET_KEY: minioadmin
        volumes:
            - ${DOCKER_VOLUME_DIRECTORY:-.}/volumes/minio:/minio_data
        command: minio server /minio_data
        healthcheck:
            test:
                ['CMD', 'curl', '-f', 'http://localhost:9000/minio/health/live']
            interval: 30s
            timeout: 20s
            retries: 3
        networks:
            - pet-finder-network

    standalone:
        container_name: milvus-standalone
        image: milvusdb/milvus:v2.4.11
        command: ['milvus', 'run', 'standalone']
        environment:
            ETCD_ENDPOINTS: etcd:2379
            MINIO_ADDRESS: minio:9000
        volumes:
            - ${DOCKER_VOLUME_DIRECTORY:-.}/volumes/milvus:/var/lib/milvus
        ports:
            - '19530:19530'
        depends_on:
            - 'etcd'
            - 'minio'
        networks:
            - pet-finder-network
    attu:
        image: zilliz/attu:latest
        container_name: milvus-ui
        environment:
            - MILVUS_URL=milvus-standalone:19530
        ports:
            - '8000:3000'
        depends_on:
            - standalone
        networks:
            - pet-finder-network

networks:
    pet-finder-network:
        driver: bridge
